---
import DocumentExportPDF from '@/process/administrative/document-management/components/document-export-pdf.tsx';
const title = 'Reporte de Documentos Administrativos';
const description = 'Reporte de documentos del instituto';
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8"/>
  <title>{title}</title>
  <link rel="stylesheet" href="/src/styles/global.css" />
  <style>
    @media print {
      @page {
        margin: 1.5cm 2cm;
        size: landscape;
      }
    }
  </style>
</head>
<body>
  <DocumentExportPDF client:load />
</body>
</html>