---
import AcademicHistoryExportPDF from '@/process/administrative/academic-management/components/academic-history-export-pdf.tsx';
import '@/styles/global.css';
const title = 'Reporte de Historial Académico';
const description = 'Reporte de historial académico de los estudiantes';
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8"/>
  <title>{title}</title>
  <style>
    @media print {
      @page {
        margin: 1.5cm 2cm;
        size: landscape;
      }
    }
  </style>
</head>
<body>
  <AcademicHistoryExportPDF client:load />
</body>
</html>